[Unit]
Description=bazaraki_notifier

[Service]
Type=simple
Restart=always
RestartSec=5s
Environment=NOTIFY_TO_CHAT=
Environment=TOKEN=
Environment=DATA_FOLDER=
ExecStart=

[Install]
WantedBy=multi-user.target
